<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuimu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
            <key>shuimu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuimu.png</string>
            <key>size</key>
            <string>{116,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b193c5e97ecf4ea516887d730db13f:1/1$</string>
            <key>textureFileName</key>
            <string>shuimu.png</string>
        </dict>
    </dict>
</plist>
