<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ocean_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{550,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>ocean_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,554},{550,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>ocean_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>ocean_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{550,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>ocean_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>ocean_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,554},{550,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,550}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oceanLight.png</string>
            <key>size</key>
            <string>{1658,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1458078dd7c36b452cbc364868f7d7f3:1/1$</string>
            <key>textureFileName</key>
            <string>oceanLight.png</string>
        </dict>
    </dict>
</plist>
