<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,787},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_X_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,938},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>btn_X_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>btn_da_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{134,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{134,116}</string>
            </dict>
            <key>btn_da_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{134,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{134,116}</string>
            </dict>
            <key>btn_fuwei_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,410},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>btn_fuwei_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,274},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>btn_queren_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,138},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>btn_queren_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>btn_xiao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{134,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{134,116}</string>
            </dict>
            <key>btn_xiao_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{134,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{134,116}</string>
            </dict>
            <key>da_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,718},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>da_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,718},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>he_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,649},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>he_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,649},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>pai_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{152,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,230}}</string>
                <key>sourceSize</key>
                <string>{152,230}</string>
            </dict>
            <key>pai_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,230}}</string>
                <key>sourceSize</key>
                <string>{152,230}</string>
            </dict>
            <key>pai_positive.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,787},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>texe_lsjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,849},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>text_dqf.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>xiao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,580},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>xiao_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,580},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guessSize.png</string>
            <key>size</key>
            <string>{250,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425b675f6d52df67915420adbcab0bfb:1/1$</string>
            <key>textureFileName</key>
            <string>guessSize.png</string>
        </dict>
    </dict>
</plist>
