<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>fish5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{110,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17a178a194bd44a3c4a991a9c55ff38e:1/1$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
