<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haigui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1450},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1269},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1088},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,907},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,726},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,545},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,364},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,183},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>haigui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haigui.png</string>
            <key>size</key>
            <string>{398,1631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fc4f93cbe49f81aece3d9d02e26b14f:1/1$</string>
            <key>textureFileName</key>
            <string>haigui.png</string>
        </dict>
    </dict>
</plist>
