<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shayu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,730},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,368},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,548},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,366},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,184},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>shayu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shayu.png</string>
            <key>size</key>
            <string>{916,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94ce3c86c64f675ae62294f4c357d74:1/1$</string>
            <key>textureFileName</key>
            <string>shayu.png</string>
        </dict>
    </dict>
</plist>
